form {
    margin-bottom: 20px;
}
button{
  background: -webkit-linear-gradient(rgb(88, 244, 145), rgb(79, 215, 236) );
  color: rgb(2, 78, 170);
  border: none;
  border-radius: 10px;
}
.container.dark button{
  background: linear-gradient(90deg, #66ffcc, #33ccff);
}
@media only screen and (max-width : 491px) {
    .container{
      padding-left: 70px;
    }
}
